
body {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    font-size: 12px;
    margin: auto;


}

header.begin {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    margin: 0 auto;
    width: 25rem;
    height: 3rem;
    font-family: 'Viga', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: rgb(120, 120, 120);
    border-radius: 5px;
    border-style: none;
}

.hide {
    display: none;
}

.start {
    margin: 0.25rem auto;
    position: relative;
    padding: 0.5rem 2rem;
    border-color: #9b7b1d;
    border-width: 0 1px 1px 0;
    border-radius: 10px;
    background-color: #fbd052;
    color: white;
    font-family: 'Viga', sans-serif;
    font-size: 1.5rem;
}

.ok {
    margin: 0 0.5rem;
    padding: 0.5rem 2rem;
    border-color:  #0c4d6d;
    border-width: 0 1px 1px 0;
    border-radius: 10px;
    background-color: #4db1e4;
    color: white;
    font-family: 'Viga', sans-serif;
    font-size: 2rem;
}


main {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    background: -webkit-linear-gradient(top, #3f385a 0%,#c3a9cc 100%,#a496aa 100%);
    background: linear-gradient(to bottom, #3f385a 0%,#c3a9cc 100%,#a496aa 100%);
}

.middle {
    display: flex;
    flex-direction: row;
    align-content: baseline;
    justify-content: space-evenly;
    margin-top: 1rem;
}

img {
    width: 5rem;
    height: 5rem;
    margin: auto;
    padding: 15px;
    background-color: aliceblue;
    background-clip: padding-box;
    border-radius: 10%;
}

section.board {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section[class*="row"] {
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: center;
    width: 100%;

}

div.box { /*the box conatining the icon */
    font-size: 16px;
    width: 20vmin;
    height: 20vmin;
    background-color: #c8c5e0;
    display: flex;
    justify-content: center;
    align-items: center;

}

div[id*="box"] { /*space where mark appears */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 4em;
    font-weight: 900;

}
.rounds {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.round, .number {
    margin: 0.5rem auto;
    color: #e85e79;
    font-family: "Viga", sans-serif;
    font-size: 2rem;
}

.X {
    color: #4db1e4;
    text-shadow: #114f6d 1px 2px 5px;
}

.O {
    color: #e95f79;
    text-shadow: #114f6d 1px 2px 5px;
}

.box1, .box2, .box4, .box5 {
    border-right: 0.5rem solid #fbd052;
    border-bottom: 0.5rem solid #fbd052;
}

.box3, .box6 {
    border: none;
    border-bottom: 0.5rem solid #fbd052;
}

.box7, .box8 {
    border: none;
    border-right: 0.5rem solid #fbd052;
}

/* .box1 {} */

header {
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    flex-direction: column;

}

h1 {
    color: white;
    font-family: 'Luckiest Guy', cursive;
    font-size: 5rem;
    margin: 3rem 0 auto;
    text-shadow: black 1px 1px 2px;

}

h2 {
    margin: 0 auto;
    font-family: 'Viga', sans-serif;
    font-size: 2rem;
    color: #fbd052;
    text-align: center;
    /* width: 80%; */
}

.wins {
    font-size: 2rem;
    text-align: center;
    margin: 0.5rem auto;
    font-family: "Viga", sans-serif;
    color: white;

}
p.name {
    font-size: 2rem;
    font-family: "Luckiest guy", sans-serif;
    color: white;
    margin: 1rem auto;
    text-align: center;
}
p.score {
    font-size: 1rem;
    text-align: center;
    color: white;
    font-family: 'Viga', sans-serif;
    margin: 0.5rem auto;
}

.slide-in-left {

	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-duration: 0.4s;
    transition-timing-function: ease-in;

}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

.win {
    font-size: 3em;
    width: 75%;
    margin: 0 auto;

}

.pulsate-fwd {
	-webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
            animation: pulsate-fwd 0.5s ease-in-out infinite both;
            animation-iteration-count: 5;
}
@-webkit-keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 1rem auto;

}
.reset {
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    border-color: #9b7b1d;
    border-width: 0 1px 1px 0;
    border-radius: 10px;
    background-color: #fbd052;
    color: white;
    font-family: 'Viga', sans-serif;
    margin-top: 1rem;
}

@media (max-width: 600px) {
    #avatar-1, #avatar-2 {
        width: 15vmin;
        height: 15vmin;
        padding: 0.5rem;
    }
}

